{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 150,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss", "@prettier/plugin-php"],
    "tailwindFunctions": ["clsx", "cn"],
    "tailwindStylesheet": "resources/css/app.css",
    "tabWidth": 4,
    "trailingComma": "es5",
    "arrowParens": "always",
    "endOfLine": "auto",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "**/*.tsx",
            "options": {
                "tabWidth": 2,
                "singleQuote": true
            }
        }
    ]
}
