[phases.setup]
nixPkgs = ["php83"]

[phases.install]
cmds = ["composer install --no-dev --optimize-autoloader --no-interaction"]

[phases.build]
cmds = [
  "php artisan key:generate --force",
  "php artisan migrate --force"
]
